{% extends 'base.html.twig' %}

{% block title %}WILO | Mentions Légales{% endblock %}

{% block body %}
    <div class='min-h-screen py-6 px-60 flex flex-col justify-center sm:py-12'>
        <h2 class="mb-6 font-black text-white text-3xl">Mentions Légales</h2>
        <p class="text-white font-semibold text-justify">
            Le site www.wilo.com a été conçu et développé par M. COLLET Pierre, responsable éditorial de ce site.
            Il s'agit d'une plateforme web proposant plusieurs mini-jeux.
            Les informations collectées par ce site ne font pas l'objet d'une déclaration auprès de la CNIL.
        </p>
        <br>
        <p class="text-white font-semibold text-justify">
            Les photos et illustrations sont issues du site freepik.com et sont sous licence Creative Commons.
        </p>
        <br>
        <br>
        <p class="text-white text-right">
            Mise à jour le 28/02/2022 à 18:15
        </p>
    </div>
{% endblock %}
