<p>
    Bonjour,<br>
    <br>
    Merci de confirmer votre Email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>
    (le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }})
</p>

<p>
    Bienvenue dans la communauté Wilo !
</p>
