{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
		<div class="relative py-3 sm:max-w-xl sm:mx-auto">
			<div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
			<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
				<div class="text-center">
					<h2 class="mt-6 text-3xl font-bold text-gray-900">
						Welcom Back!
					</h2>
					<p class="mt-2 text-sm text-gray-600">Please sign in to your account</p>
				</div>
				<form class="mt-8 space-y-6" action="#" method="POST">
					<input type="hidden" name="remember" value="true">
					<div class="relative">
						<div class="absolute right-0 mt-8">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
							</svg>
						</div>
						<label class="text-sm font-bold text-gray-700 tracking-wide">Email</label>
						<input class=" w-full text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="mail@gmail.com" value="mail@gmail.com">
					</div>
					<div class="mt-8 content-center">
						<label class="text-sm font-bold text-gray-700 tracking-wide">
							Password
						</label>
						<input class="w-full content-center text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="" placeholder="Enter your password" value="*****|">
					</div>
					<div class="flex items-center justify-between">
						<div class="text-sm">
							<a href="#" class="font-medium text-indigo-500 hover:text-indigo-500">
								Forgot your password?
							</a>
						</div>
					</div>
					<div>
						<button type="submit" class="w-full flex justify-center bg-indigo-500 text-gray-100 p-4  rounded-full tracking-wide
																									                                font-semibold  focus:outline-none focus:shadow-outline hover:bg-indigo-600 shadow-lg cursor-pointer transition ease-in duration-300">
							Sign in
						</button>
					</div>
					<div class="flex items-center justify-center space-x-2">
						<span class="h-px w-16 bg-gray-300"></span>
						<span class="text-gray-500 font-normal">OR</span>
						<span class="h-px w-16 bg-gray-300"></span>
					</div>
					<p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
						<span>Don't have an account?</span>
						<a href="#" class="text-indigo-500 hover:text-indigo-500no-underline hover:underline cursor-pointer transition ease-in duration-300">Sign up</a>
					</p>
				</form>
			</div>
		</div>
	</div>

	<form action="{{ path('login') }}" method="post">
		<label for="username">Email:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}"/>

		<label for="password">Password:</label>
		<input type="password" id="password" name="_password"/>

		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{# If you want to control the URL the user is redirected to on success
										        <input type="hidden" name="_target_path" value="/account"/> #}

		<button type="submit">login</button>
	</form>
{% endblock %}
