{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}

	{% if app.user %}
		<a href="{{path('pfc')}}">Pierre Feuille Ciseaux</a>
	{% else %}
		{{ render(controller('App\\Controller\\RegistrationController::register')) }}
	{% endif %}

{% endblock %}
