{% extends 'base.html.twig' %}

{% block title %}
	Wilo
{% endblock %}

{% block body %}
	<div class="box">
		<button>Pierre</button>
		<button>Feuilles</button>
		<button>Ciseaux</button>
	</div>

	<div class="resultat"></div>
{% endblock %}
