.example-wrapper {
    background-color: rgb(255, 0, 0);
}

body{
    background-color: gray;
}
.text-center{
    text-align: center;
}
.color-div{
    background-color: cadetblue;
    border-radius: 10px;
    margin: 0 250px;
    padding-top: 25%;
}

.connectOrNot{
    width: max-content;
    height: auto;
    background-color: white;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.avatar{
    float: left;
    vertical-align: middle;
    align-items: center;
}

.avatar img{
    width: 80px;
    height: auto;
    padding: 15px;
}

.pseudo{
    size: 20px;
    text-align: center;
}

.jetons {
    vertical-align: middle;
    align-items: center;
}

.jetons img{
    width: 20px;
    height: auto;
    padding: 5px;
}

.deconnexion {
    border-top: 1px solid grey;
    vertical-align: middle;
    align-items: center;
}

#navigation {
    margin: 0 ;
    padding: 0 ;
    list-style: 0 ;
    height: 1.8em ;
  }

  #navigation li {
    float: left ;
    width: 150px ;
    border: 1px solid #600 ;
    margin-right: 1px ;
    color: #fff ;
    background: #c00 ;
  }

  #navigation li a {
    display: block ;
    background: #c00 ;
    color: #fff ;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    padding: 4px 0 ;
    text-align: center ;
  }

  #navigation li a:hover, #navigation li a:focus, #navigation li a:active {
    background: #900 ;
  }