{% extends 'base.html.twig' %}

{% block title %}WILO | Nombre Mystère{% endblock %}

{% block body %}
    <div id="defaultModal" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
        <div class="u-translate absolute top-2/4 left-2/4 px-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
                    <h3 id='result-nb-mystere' class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
                        Terms of Service
                    </h3>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <p id="result-text-nb-mystere" class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Gains
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
                    <a href="{{path('nb_mystere')}}"><button data-modal-toggle="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Rejouer</button></a>
                    <a href="{{path('home')}}"><button data-modal-toggle="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Accueil</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="min-h-screen pt-40 pb-20 px-28 flex flex-col justify-center">
        <div class="flex flex-col w-full p-20 bg-white rounded-t rounded-b-none shadow justify-center">
            <span class="mb-12 text-center">Trouver le nombre mystère entre 0 et 50 en <span id="nb-coups-nb-mystere">5</span> coups : <span id="indicator-nb-mystere"></span></span>
            <input id="input-nb-mystere" class="mb-12 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500" type='number' min='0' max="50"></input>
            <button id="bt-nb-mystere" class="w-32 mx-auto bg-gradient-to-r from-yellow-300 to-yellow-500 gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">Essayer</button>
        </div>
    </div>
{% endblock %}
